table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 75%;    
        text-align: center;                     
}
        
td, th {
    text-align: right;
    padding: 8px;
}
.card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.253);
        max-width: 280px;
        max-height: 750px;
        background-image: url("businesscardBG.jpg");
        margin: auto;                
        font-family: arial;
}
        
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 2px;
    
}